<p>Poniżej znajdą Państwo naszych <%= @count %> utalentowanych kierowców z uprawnieniami!</p>
<div class="driver">
<% @drivers.each do |driver| %>
  <div><strong>Imię i nazwisko: </strong> <%= driver["name"] %></div>
  <div><strong>Posiadanie uprawnienia: </strong> <%= driver["full_title"] ? driver["full_title"] : "Brak uprawnień" %></div>
  <div><strong>Wiek: </strong> <%= driver["age"] %></div>
  
<% end %>

<h3>Znajdź kierowcę</h3>
<%= form_tag "/drivers/search/", :method => 'get' do %> 
  <div>Nazwisko kierowcy:</div> <%= text_field_tag :name %>
  <div>Minimalny wiek kierowcy:</div> <%= text_field_tag :age_min %>
  <div>Maksymalny wiek kierowcy:</div> <%= text_field_tag :age_max %>
  <%= submit_tag %>
<% end %>
</div>

<h4><a href="/drivers/new/">Dodaj kierowcę do systemu</h4>
