
<h2 class="page-header">Krakowski rozkład jazdy</h2>
Na tej linii znajduje się <%= @count %> przystanków. Przejazd trwa średnio <%= @time %> minut. 
  <div class="line-routes">
  <h3><a href="/lines/<%= @line["id"] %>"><%= @line["number"] %></a></h3>
    Trasa:
    <ul>
    <% @stops.each do |stop| %>
      <li><a href="/stops/<%= stop["id"] %>"><%= stop["name"] %></a></li>
    <% end %>
    </ul>
  <br/>
  
</div>
